{% extends '../layout.html' %}
{% block content %}
  <div block="c">
    <div block="page-topbar">
      <div elem="caption">Что такое «Тотальный диктант»</div>
      <div elem="tabs" mix="block:tabs, block:r mods:[s:l jc:c]">
        <div block="tabs" elem="item" mix="block:r elem:c">
          <span block="tabs" elem="link">О проекте</span>
        </div>
        <div block="tabs" elem="item" mix="block:r elem:c">
          <a block="tabs" elem="link" mix="block:link mods:[b:s]" href="#">
            <span block="link" elem="text">География диктанта</span>
          </a>
        </div>
        <div block="tabs" elem="item" mix="block:r elem:c">
          <a block="tabs" elem="link" mix="block:link mods:[b:s]" href="#">
            <span block="link" elem="text">Вопросы и ответы</span>
          </a>
        </div>
        <div block="tabs" elem="item" mix="block:r elem:c">
          <a block="tabs" elem="link" mix="block:link mods:[b:s]" href="#">
            <span block="link" elem="text">Стать организатором</span>
          </a>
        </div>
        <div block="tabs" elem="item" mix="block:r elem:c">
          <a block="tabs" elem="link" mix="block:link mods:[b:s]" href="#">
            <span block="link" elem="text">Партнёры</span>
          </a>
        </div>
        <div block="tabs" elem="item" mix="block:r elem:c">
          <a block="tabs" elem="link" mix="block:link mods:[b:s]" href="#">
            <span block="link" elem="text">Контакты</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div block="c">
    <div block="r">
      <div elem="c" mods="a:c 2">
        <div class="wysiwyg">
          <p style="font-size: 20px"><b>Тотальный диктант</b> — ежегодная образовательная акция, призванная привлечь внимание к вопросам грамотности и развить культуру грамотного письма. </p>
          <p style="font-size: 20px"><b>Суть акции</b> — добровольный бесплатный диктант для всех желающих, который проходит одновременно в десятках городов России и мира (с поправкой на часовые пояса).</p>
        </div>
      </div>
    </div>
  </div>

  <div block="c">
    <div block="r">
      <div elem="c" mods="a:c 2">
        <div class="wysiwyg">
          <p style="font-size: 20px"><b>Принцип опциональной анонимности</b>. Никто из участников Тотального диктанта не обязан указывать свое настоящее имя.</p>
          <p style="font-size: 20px"><b>Принцип профессионального подхода к проверке</b>. В каждом городе, в котором проводится Тотальный диктант, во главе проверочной комиссии стоит профессиональный преподаватель-филолог.</p>
          <p style="font-size: 20px"><b>Принципы единства времени, текста, порядка проведения, критериев проверки</b>. Тотальный диктант проходит один раз в год, в один и тот же день во всех городах. Во всех городах участники пишут один и тот же текст (или разные части одного и того же текста). Во всех городах мероприятие проходит по одному и тому же, заранее определенному, централизованно разработанному сценарию. Во всех городах проверочные комиссии руководствуются одними и теми же, заранее определенными, централизованно разработанными критериями при проверке и оценке работ.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
