<div block="pane">
  <div block="c">
    <div block="pane" elem="top" mix="block:r">
      <div block="pane" elem="name" mix="block:r elem:c">Фото и видео</div>
    </div>
    <div block="pane" elem="content">
      <div block="r" mods="s:l">
        <div elem="c" mods="s:3">
          <a block="gallery-block" href="#">
            <span elem="media">
              <img src="/frontend/images/014.png" alt="" />
            </span>
            <span elem="content" mix="block:wysiwyg">
              <span>Тотальный диктант – 2015 в Москве</span>
              <span block="wysiwyg" elem="meta" style="font-size: 14px">24 фотографии</span>
            </span>
          </a>
        </div>
        <div elem="c" mods="s:3">
          <a block="gallery-block" href="#">
            <span elem="media" mods="type:stream">
              <img src="/frontend/images/015.png" alt="" />
            </span>
            <span elem="content" mix="block:wysiwyg">
              <span>Аудитория в Новосибирске</span>
            </span>
          </a>
        </div>
        <div elem="c" mods="s:3">
          <a block="gallery-block" href="#">
            <span elem="media" mods="type:stream">
              <img src="/frontend/images/016.png" alt="" />
            </span>
            <span elem="content" mix="block:wysiwyg">
              <span>Аудитория в Новосибирске</span>
            </span>
          </a>
        </div>
        <div elem="c" mods="s:3">
          <a block="gallery-block" href="#">
            <span elem="media">
              <img src="/frontend/images/017.png" alt="" />
            </span>
            <span elem="content" mix="block:wysiwyg">
              <span>Тотальный диктант – 2015 в Москве</span>
              <span block="wysiwyg" elem="meta" style="font-size: 14px">48 фотографий</span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div block="pane" elem="bottom">
      <a block="link" mods="t:p t:r" href="#">
        <span elem="text">Все медиаматериалы</span>
      </a>
    </div>
  </div>
</div>
