<div block="pane">
  <div block="c">
    <div block="pane" elem="top" mix="block:r">
      <div block="pane" elem="name" mix="block:r elem:c">Спонсоры и партнеры</div>
    </div>
    <div block="pane" elem="content">
      <div block="sponsors">
        <div elem="section">
          <div block="r" mods="s:m">
            <div elem="c" mods="s:3">
              <div block="sponsors-block" mods="s:m">
                <div elem="image">
                  <img src="/frontend/images/001.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span block="wysiwyg" elem="meta">Официальное PR-агентство</span>
                  <span>AGT-Сибирь</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:3">
              <div block="sponsors-block" mods="s:m">
                <div elem="image">
                  <img src="/frontend/images/002.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span block="wysiwyg" elem="meta">Телекоммуникационный партнер</span>
                  <span>Компания ТТК</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:3">
              <div block="sponsors-block" mods="s:m">
                <div elem="image">
                  <img src="/frontend/images/003.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span block="wysiwyg" elem="meta">Экспертный центр</span>
                  <span>Новосибирский государственный университет</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:3">
              <div block="sponsors-block" mods="s:m">
                <div elem="image">
                  <img src="/frontend/images/004.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span block="wysiwyg" elem="meta">Разработчик онлайн-диктанта</span>
                  <span>Веб-сервис «Орфограмма»</span>
                </div>
              </div>
            </div>
          </div>
          <div block="r" mods="s:l">
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/005.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>ТАСС</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/006.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Фонд «Русский мир»</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/007.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Агентство стратегических инициатив</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/008.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Russia Beyond the Headlines</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/009.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Антенна Телесемь</span>
                </div>
              </div>
            </div>
          </div>
          <div block="r" mods="s:l">
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/010.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Грамота.ру</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/011.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Серебряный дождь</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/012.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Универсариум</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/013.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Журнал «Русский репортёр»</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div elem="section">
          <div elem="name">Партнеры в Петропавловске-Камчатском</div>
          <div block="r" mods="s:l">
            <div elem="c" mods="s:3">
              <div block="sponsors-block" mods="s:m">
                <div elem="image">
                  <img src="/frontend/images/001.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span block="wysiwyg" elem="meta">Официальное PR-агентство</span>
                  <span>AGT-Сибирь</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:3">
              <div block="sponsors-block" mods="s:m">
                <div elem="image">
                  <img src="/frontend/images/002.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span block="wysiwyg" elem="meta">Телекоммуникационный партнер</span>
                  <span>Компания ТТК</span>
                </div>
              </div>
            </div>
          </div>
          <div block="r" mods="s:l">
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/005.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>ТАСС</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/006.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Фонд «Русский мир»</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/007.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Агентство стратегических инициатив</span>
                </div>
              </div>
            </div>
            <div elem="c" mods="s:2_4">
              <div block="sponsors-block" mods="s:s">
                <div elem="image">
                  <img src="/frontend/images/008.png" alt="" />
                </div>
                <div elem="content" mix="block:wysiwyg">
                  <span>Russia Beyond the Headlines</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div block="pane" elem="bottom" mix="block:r">
      <a block="link" mods="t:p t:r" href="#">
        <span elem="text">Стать партнером</span>
      </a>
    </div>
  </div>
</div>
