.menu-dict
  &__meta
    display inline-block
    color #95928c
    width 60px

.menu
  &__section
    margin-top 32px

    .link
      display block

      &:hover
        color #1454e5

  &__section_services &__name
    font-size 14px
    text-transform uppercase
    letter-spacing .2em
    color #95928c
    padding-top 6px

  &__section_social
    padding-right 3.75rem

    .social__button
      margin-top 1.25rem

  &__name
    font-size 20px
    line-height 1.5
    padding-bottom 2px

  &__item
    padding 4px 0
    line-height 1.5
