.persons-block
  display block
  font-size 1.25rem
  margin 0 0 1.875rem

  &__image
    text-align center
    line-height 5.625rem
    font-size 44px
    text-indent 4px
    display block
    width 5.625rem
    height 5.625rem
    margin-right 20px
    overflow hidden
    border-radius 50%

    > img
      width 100%

  &_join
    color #bf0000

  &_join &__image
    border 1px dashed #bf0000
