.text
  &__p
    &_type_meta
      color #95928c

    &_s_14
      font-size .875rem
      line-height 1.5

    &_s_16
      font-size 1rem
      line-height 1.5

    &_s_32
      font-size 2rem
      line-height 1.375

  &__h_2
    font-size 40px
    font-weight 900
    line-height 1.2
    margin-bottom 6px

  &__h_5
    font-size 1.25rem
    font-weight 700
    line-height 1.5
    margin 0 0 .5em


.wysiwyg
  line-height 1.5

  h2
    font-size 40px
    font-weight 900
    line-height 1.2
    margin-bottom .15em 0

  h4
    font-size 2rem
    line-height 1.375
    margin .25em 0

  h5
    @extend .text__h_5

  a
    border-bottom 1px solid

  > span
    display block
    margin .125em 0

    &:first-child
      margin-top 0

    &:last-child
      margin-bottom 0

  b
  strong
    font-weight 700

  &__meta
    @extend .text__p_type_meta

  &_octave > span
    margin .428em 0
