{% extends 'layout.html' %}

{% block content %}
  <div block="pane" mods="hero wide" style="background-image: url('/frontend/images/022.png')">
    <div block="c">
      <div block="pane" elem="content">
        <div block="project-info">
          <div elem="text" mix="block:wysiwyg">
            <h2>Раз в год. Для всех, кто умеет писать.</h2>
            <span style="font-size: 20px">16 апреля 2016 года состоится добровольный диктант для всех желающих<br><a href="#">958 городских площадок</a> и диктант в прямом эфире на нашем сайте.</span>
          </div>
          <div elem="more">
            <a block="button" mods="d:2" href="#">
              <span elem="text">Хочу участвовать</span>
            </a>
          </div>
        </div>
        <div block="project-features">
          <div block="r" mods="s:m">
            <div elem="c" mods="s:4">
              <div block="project-features-block">
                <div elem="icon" mix="block:icon mods:[editproperty]"></div>
                <div elem="name">
                  <a block="link" mods="t:p b:s" href="#">
                    <span elem="text">Написать онлайн-диктант</span>
                  </a>
                </div>
                <div elem="text">Проверьте свои знания сейчас <br>с помощью интерактивного <br>онлайн-диктанта</div>
              </div>
            </div>
            <div elem="c" mods="s:4">
              <div block="project-features-block">
                <div elem="icon" mix="block:icon mods:[classroom]"></div>
                <div elem="name">
                  <a block="link" mods="t:p b:s" href="#">
                    <span elem="text">Подготовиться к диктанту</span>
                  </a>
                </div>
                <div elem="text">Все способы подготовки к диктанту — <br>от интерактивных курсов<br>до регулярных занятий</div>
              </div>
            </div>
            <div elem="c" mods="s:4">
              <div block="project-features-block">
                <div elem="icon" mix="block:icon mods:[crown]"></div>
                <div elem="name">
                  <a block="link" mods="t:p b:s" href="#">
                    <span elem="text">Организовать диктант</span>
                  </a>
                </div>
                <div elem="text">Станьте членом нашей команды<br>и организуйте проведение<br>«Тотального диктанта» в своем городе</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div block="pane">
    <div block="c">
      <div block="pane" elem="top">
        <div block="r" mods="aib">
          <div elem="c">
            <div block="pane" elem="name">Новости и публикации</div>
          </div>
          <div elem="c">
            <div block="pane-links" mix="block:r">
                <div block="pane-links" elem="item" mix="block:r elem:c">
                  <a href="#" block="link" mods="b:s">
                    <span elem="text">Пресс-релизы</span>
                  </a>
                </div>
                <div block="pane-links" elem="item" mix="block:r elem:c">
                  <a href="#" block="link" mods="b:s">
                    <span elem="text">Публикации</span>
                  </a>
                </div>
                <div block="pane-links" elem="item" mix="block:r elem:c">
                  <a href="#" block="link" mods="b:s">
                    <span elem="text">Интервью</span>
                  </a>
                </div>
                <div block="pane-links" elem="item" mix="block:r elem:c">
                  <a href="#" block="link" mods="b:s">
                    <span elem="text">Фото и видео</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div block="pane" elem="content">
        <div block="r" mods="s:m">
          <div elem="c" mods="s:6">
            <div block="post" mods="s:m">
              <div elem="image">
                <img src="images/018.png" alt="" />
              </div>
              <div elem="content">
                <div elem="meta" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">22 апреля 2016</div>
                  <div block="r" elem="c">Тексты диктантов</div>
                </div>
                <div elem="name">Тексты «Тотального диктанта» за 2015 год</div>
                <div elem="text">Автором текста за 2015 год является специалист по древнерусской литературе, доктор филологических наук, сотрудник Пушкинского Дома и писатель Евгений Водолазкин.</div>
                <div elem="toolbar" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">
                    <span block="icon" mods="eye"></span>
                    <span>12 031</span>
                  </div>
                  <div block="r" elem="c">
                    <span block="icon" mods="bubble"></span>
                    <span>12 031</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div elem="c" mods="s:6">
            <div block="post" mods="s:s">
              <div elem="image">
                <img src="images/019.png" alt="" />
              </div>
              <div elem="content">
                <div elem="meta" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">22 апреля 2016</div>
                  <div block="r" elem="c">Фото и видео</div>
                </div>
                <div elem="text">Итоги конкурса сочинений - 2015</div>
                <div elem="toolbar" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">
                    <span block="icon" mods="eye"></span>
                    <span>12 031</span>
                  </div>
                  <div block="r" elem="c">
                    <span block="icon" mods="bubble"></span>
                    <span>12 031</span>
                  </div>
                </div>
              </div>
            </div>
            <div block="post" mods="s:s">
              <div elem="image">
                <img src="images/020.png" alt="" />
              </div>
              <div elem="content">
                <div elem="meta" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">22 апреля 2016</div>
                  <div block="r" elem="c">Пресс-релизы</div>
                </div>
                <div elem="text">Выдача работ и сертификатов</div>
                <div elem="toolbar" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">
                    <span block="icon" mods="eye"></span>
                    <span>12 031</span>
                  </div>
                  <div block="r" elem="c">
                    <span block="icon" mods="bubble"></span>
                    <span>12 031</span>
                  </div>
                </div>
              </div>
            </div>
            <div block="post" mods="s:s">
              <div elem="image">
                <img src="images/021.png" alt="" />
              </div>
              <div elem="content">
                <div elem="meta" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">22 апреля 2016</div>
                  <div block="r" elem="c">Пресс-релизы</div>
                </div>
                <div elem="text">Стартовал онлайн-проект «Русский язык 24» — единая информационная лента...</div>
                <div elem="toolbar" mix="block:r mods:[s:s]">
                  <div block="r" elem="c">
                    <span block="icon" mods="eye"></span>
                    <span>12 031</span>
                  </div>
                  <div block="r" elem="c">
                    <span block="icon" mods="bubble"></span>
                    <span>12 031</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div block="pane" elem="bottom" mix="block:r">
        <a block="link" mods="tp t:r" href="#">
          <span elem="text">Все новости</span>
        </a>
      </div>
    </div>
  </div>

  <div block="c">
    <div block="r" mods="aic">
      <div elem="c" mods="s:6">
        <div block="text">
          <p elem="p" mods="s:32">Присоединяйтесь к «Тотальному диктанту» в социальных сетях</p>
        </div>
      </div>
      <div elem="c" mods="s:6">
        <div block="social" mods="s:l">
          <div block="r" mods="s:m jcr">
            <div elem="c">
              <a block="social" elem="button" mix="block:icon mods:[vk]" href="#"></a>
            </div>
            <div elem="c">
              <a block="social" elem="button" mix="block:icon mods:[facebook]" href="#"></a>
            </div>
            <div elem="c">
              <a block="social" elem="button" mix="block:icon mods:[instagram]" href="#"></a>
            </div>
            <div elem="c">
              <a block="social" elem="button" mix="block:icon mods:[twitter]" href="#"></a>
            </div>
            <div elem="c">
              <a block="social" elem="button" mix="block:icon mods:[youtube:2]" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div block="pane">
    <div block="c">
      <div block="pane" elem="top">
        <div block="pane" elem="name">Вопросы и ответы</div>
      </div>
      <div block="pane" elem="content">
        <div block="r" mods="s:m">
          {% for faq in faqs %}
            <div elem="c" mods="xs:2">
              {% for instance in faq %}
                <div block="faqs-instance">
                  <a block="link" mods="b:s" href="#">
                    <span elem="text">{{instance}}</span>
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div block="pane" elem="bottom">
        <a block="link" mods="t:p t:r" href="#">
          <span elem="text">Все вопросы и ответы</span>
        </a>
      </div>
    </div>
  </div>

  <div block="pane" mods="theme:special">
    <div block="c">
      <div block="pane" elem="top">
        <div block="r" mods="aib">
          <div elem="c">
            <div block="pane" elem="name">Русский язык 24</div>
          </div>
          <div elem="c">
            <div block="pane" elem="badge">Специальный проект</div>
          </div>
        </div>
        <div block="r">
          <div elem="c" mods="s:6">
            <div block="wysiwyg">
              <span style="font-size: 20px" elem="meta">Один день из жизни города. Все новости о том, как прошел  «Тотальный диктант — 2015»</span>
            </div>
          </div>
        </div>
      </div>
      <div block="pane" elem="content">
        <div block="r" mods="s:m">
          <div elem="c" mods="s:3">
            <a block="wysiwyg" href="#">
              <span style="font-size: 14px" elem="meta">19 апреля 23:54</span>
              <span>Штаб проекта «Русский язык-24» завершает свою работу в Новосибирске</span>
              <span style="font-size: 14px" elem="meta">Новосибирск</span>
            </a>
          </div>
          <div elem="c" mods="s:3">
            <a block="wysiwyg" href="#">
              <span style="font-size: 14px" elem="meta">19 апреля 23:54</span>
              <span>Проект «Русский язык-24» финиширует</span>
              <span style="font-size: 14px" elem="meta">Новосибирск</span>
            </a>
          </div>
          <div elem="c" mods="s:3">
            <a block="wysiwyg" href="#">
              <span style="font-size: 14px" elem="meta">19 апреля 23:54</span>
              <span>В одном культурном-культурном городе...</span>
              <span style="font-size: 14px" elem="meta">Новосибирск</span>
            </a>
          </div>
          <div elem="c" mods="s:3">
            <a block="wysiwyg" href="#">
              <span style="font-size: 14px" elem="meta">19 апреля 23:54</span>
              <span>Иркутск поставил новый рекорд по посещаемости</span>
              <span style="font-size: 14px" elem="meta">Новосибирск</span>
            </a>
          </div>
        </div>
      </div>
      <div block="pane" elem="bottom">
        <a block="link" mods="t:p t:r" href="#">
          <span elem="text">Все новости</span>
        </a>
      </div>
    </div>
  </div>

  {% include "./partials/gallery.html" with context only %}
  {% include "./partials/sponsors.html" with context only %}

{% endblock %}
